@model Lojinha.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Deseja excluir este produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmo Exclusão" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a Lista de Produtos</a>
    </form>
</div>
